.classpath
.project
.settings/
.theia/
.vscode/
target/
/home/smwapinza/software-product-sprint/team8-project/src/main/webapp/client_secret_424069108958-6vthh91e0fds1gf6b0lbg3ld75jocohu.apps.googleusercontent.com.json
